extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8

      each cheese in cheeses
        .card
          .card-block
            h4= cheese.name  
              small &nbsp;
            .Sensations
              each sensation in cheese.sensations
                span.badge.badge-warning= sensation

    .col-12.col-md-4
      p.lead= sidebar
